html
{
    height: 100%;
    font-size: 16px;
}

body 
{
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, #5d0e0e, rgb(187, 187, 187));
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(0, 0, 0);
}



h1 
{
    font-size: xx-large;
    font-weight: bold;
    color: rgb(13, 13, 73);
    text-align: center;
}

h2 
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color: rgb(13, 13, 73);
    text-align: center;
}

img 
{
    border-radius: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 500px;
}

th 
{
    text-align: left;
}

div
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 20px;
}

h3 
{
    text-decoration: underline;
}